body {
  text-transform: capitalize;
}
.heading {
}
/*apply whole child component with display block*/
.formatting > * {
  display: block;
  padding: 5px;
}
.quotation {
  display: flex;
  flex-direction: column;
}
