* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body {
  /* box-sizing: none; */
  text-transform: capitalize;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

/* nav */
.heading {
  background: grey;
  margin-bottom: 1rem;
}
.heading ul {
  margin: 0;
  text-align: center;
}
.heading ul li {
  list-style-type: none;
  display: inline;
  width: auto;
  margin: 5px;
  justify-content: center;
}
li :hover {
  color: greenyellow;
}
/*main  */
.main {
  padding: 0 10px;
}

.card {
  background: linear-gradient(
      45deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  margin-bottom: 1rem;
  border-radius: 15px;
  padding: 5px;
}
/* project */
.projects {
  display: block;
}
.project_bg {
  background: url(./picture/project.png) no-repeat;
  width: 40px;
  height: 40px;
  margin: auto;
  background-size: contain;
  float: left;
}
/* about me */
.about_me {
  display: block;
}
.about_me_bg {
  background: url(./picture/aboutMe.png) no-repeat;
  width: 100px;
  height: 100px;
  background-size: contain;
  margin: auto;
  float: left;
}

/*skills */
.skills {
  display: block;
}
.skills_bg {
  background: url(./picture/skills.png) no-repeat;
  width: 100px;
  height: 100px;
  background-size: contain;
  margin: auto;
  float: right;
}
/* back to top button */

#btn_back_to_top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: red;
  border: 0px;
  color: white;
  transition-duration: 500ms;
  font-size: 5px;
  /* do center */
  line-height: 20px;
}
.up {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
}
#btn_back_to_top:hover {
  color: red;
  background-color: white;
  /* border: 5px solid blue; */
}
