h2 {
  color: red;
}
section {
  display: flex;
  background-color: darkblue;
}
.box {
  height: 50px;
  width: 50px;
  margin: 5px;
}

.first_box {
  border: 4px dotted white;
  background-color: blueviolet;
}
.second_box {
  background-color: #6cd4ff;
  border: 4px double white;
}
.third_box {
  background-color: gray;
  border-right: 4px solid yellow;
  border-top: green 4px solid;
  border-left: 4px red solid;/cssref/tryit.asp
  border-bottom: 4px blue solid;
}
.fouth_box {
  background-color: green;
  border: 2px dashed white;
  border-radius: 20%;
}
.fifth_box {
  background-color: rosybrown;
  border-radius: 100%;
  border: 1px dotted white;
}
